.configui_board {
    font-size: 1.3em;
}

.configui_itemheading {
    font-size: 1.3em;
    font-weight: bold;
    font-style: italic;
    margin-top: 0.3em;
}

.configui_item {
    font-family: 'Courier New', monospace;
    display: flex;
}

.configui_item_name {
    font-weight: bold;
    flex-grow: 1;
}

.configui_item_input {
    width: 15em;
    font-size: 0.8em;
}