.configui_item {
    font-family: 'Courier New', monospace;
    display: flex;
    font-size: 1.5em;
}

.configui_item_name {
    font-weight: bold;
    flex-grow: 1;
}

.configui_item_inputbox {
    width: 15em;
    font-size: 0.8em;
}