.configui {
    height: 100%;
    font-size: 1.3em;
    display: flex;

    >* {
        border: 0.2em solid #bbb;
        padding: 0.5em;
    }
}

.configui_category {
    width: 10em;
}

.configui_itemheading {
    font-size: 1.2em;
    font-weight: bold;
    font-style: italic;
    border-bottom: 0.1em solid gray;
    user-select: none;
}

.configui_itemheading.configui_selected {
    background-color: green;
    color: white;
}

.configui_boardbox {
    flex-grow: 2;
    overflow-y: scroll;
}

.configui_board {
    height: 0;
    overflow-y: hidden;
}

.configui_board.configui_selected {
    height: auto;
}

.configui_item {
    font-family: 'Courier New', monospace;
    display: flex;
    align-items: center;
    border-bottom: 0.1em solid #888;
}

.configui_item_name {
    font-weight: bold;
    flex-grow: 1;
}

.configui_item_input {
    width: 15em;
    font-size: 0.8em;
}

.configui_item_selectbox {
    display: flex;
    flex-wrap:wrap;
    gap: 0.3em;
    align-content: flex-start;
}

.configui_item_selectable {
    font-size:0.8em;
    min-width: 3em;
    border: 0.2em solid #00000022;
    user-select: none;
    text-align: center;
}

.configui_item_selectable.configui_selected {
    color: white;
    font-weight: bold;
    background-color: green;
}

.configui_item_keyclear {
    font-size:0.7em;
    border: 0.2em solid #00000022;
    user-select: none;
    text-align: center;
}

.configui_item_keyclear:active, .configui_item_keyclear:hover {
    background-color: #ddd;
}

.configui_item_keydisplay {
    display: inline-block;
    font-size: 80%;
    width: 15em;
    margin-left: 1em;
    height: 1em;
    border: 2px solid black;
    overflow: hidden;
}

.configui_item_keydisplay.configui_novalue {
    background-color: #faa;
}

.configui_item_keydisplay:focus {
    background-color: #cce;
}